  <header>
        <h1>{{pageTitle}}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <!-- Add other navigation links here -->
      </ul>
    </nav>

  </header>