<class="posts list-group">
    {{#each post}}
        <class="list-item flex-row jusify-space-between" href="/dashboard/edit/{{id}}">
        <span>{{title}}</span>
        <span>{{format_date createdAt}}</span>
        </a>
    {{/each}}
</div>